.slider {
  margin: 2em 22.5em;
  padding-left: 2em;
  padding-top: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #292929;
}

.grid__slider {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 70em;
  column-gap: 2em;
  row-gap: 2em;
  margin-top: 1em;
}

.interact__slider {
  display: flex;
  justify-content: flex-end;
  padding: 1em 3em;
}

.nav__slider a {
  text-decoration: none;
  color: #aecfdf;
  margin-left: 1em;
}

.title__slider {
  font-size: 1.5em;
}

.navigation__button {
  background: #35605a;
  color: white;
  border: 1px solid #35605a;
  margin: 0em 0.25em;
  border-radius: 1px;
  width: 3em;
}
