.footer {
  display: flex;
  margin-top: auto;
  color: #aecfdf;
  padding: 2em 5em;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  background-color: #050505;
}

.menu__footer {
  display: flex;
}

.content__menu {
  margin: 1em 5em;
}
