.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__wrapper {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2em;
  row-gap: 2em;
}
